WcfClient/Service References/SixthImpulse.SimpleWcf.WcfService/SimpleWcfService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SixthImpulse.SimpleWcf.SimpleWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SixthImpulse.SimpleWcf.SimpleWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TimeWithTimezone">
    <xs:sequence>
      <xs:element minOccurs="0" name="TheTime" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TimezoneGmtOffset" type="xs:int" />
      <xs:element minOccurs="0" name="TimezoneName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TimeWithTimezone" nillable="true" type="tns:TimeWithTimezone" />
</xs:schema>